{% for student in students %}
<tr>
  <td>{{ student.name }}</td>
  <td>{{ student.section }} / {{ student.roll_number }}</td>
  <td>{{ student.stream.name }}</td>
  <td>{% if student.profile_picture %}
    <img src="{{student.profile_picture.url}}" width="100" height="100">
    {% else %}
    <p>No Profile Picture</p>
    {% endif %}</p>
  </td>
  <td>
    <button
      class="btn btn-primary student_marksheet-btn"
      data-id="{{ student.id }}"
      data-name="{{ student.name }}">
      Marks Sheet
    </button>
  </td>
  <td>
    <button
      type="button"
      class="btn btn-info student-profile-btn"
      data-bs-toggle="modal"
      data-bs-target="#profileModal"
      data-id="{{ student.id }}">
      Student Profile
    </button>
  </td>
</tr>
{% endfor %}
