{% for student in students %}
<tr>
  <td>{{ student.name }}</td>
  <td>{{ student.section }} / {{ student.roll_number }}</td>
  <td>{{ student.stream.name }}</td>
  <td>
    <button
      class="btn btn-primary student_marksheet-btn"
      data-id="{{ student.id }}"
      data-name="{{ student.name }}"
      data-description="{{ stream.description }}">
      Marks Sheet
    </button>
  </td>
  <td>
    <button class="btn btn-danger student_profile-btn" data-id="{{ stream.id }}">
      Student Profile
    </button>
  </td>
</tr>
{% endfor %}
